<div ng-if="homeStatus">
    <div id="homeVideoMacbook">
        <video class="slide__video bg___main_video_mac" preload="auto" autoplay loop muted id="MacBookPro__video-background">
            <source src="video/MacBookPro.mp4" type="video/mp4">
        </video>
    </div>
    <div class="home__title">
        Build software that communicates with everyone in the world.
    </div>
    <div class="home___control__btn">
        <input class="btn btn-success home__btn" type="button" value="Go To Goods" ng-click="choosePage1()">
        <div class="home___control__btn___contactUs">
            <span>Questions? <a href="#" ng-click="chooseContactUs()">Talk to an expert.</a></span>
        </div>
    </div>
</div>
