<div>
    
    <!--   LogOut -->
    <div class="modal fade" id="modelLogOutBtn" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal__header__block">
                    <h4 class="modal__header__text">Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <button autofocus type="submit" class="btn btn-success" data-dismiss="modal" ng-click="ConfirmUserLogIn()">Ok</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <!--    Required -->
    <div class="modal fade" id="modalTypeRequiredFields" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal__header__block">
                    <h4 class="modal__header__text" id="modalHeaderTextMessage">Type required fields</h4>
                </div>
                <div class="modal-footer">
                    <button autofocus type="submit" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>
    
</div>