<div id="block-for-slider">
    <div id="viewport">
        <ul id="slidewrapper">
            <li class="slide">
                <img class="slide__video" src= "../img/slider/1.jpg" alt="img_1">
            </li>
            <li class="slide">
                <img class="slide__video" src="../img/slider/2.jpg" alt="img_2">
            </li>
            <li class="slide">
                <img class="slide__video" src="../img/slider/3.jpg" alt="img_3">
            </li>
            <li class="slide">
                <img class="slide__video" alt="img_4">
            </li>
            <li class="slide">
                <img class="slide__video" alt="img_5">
            </li>
        </ul>
        <div id="prev-next-btns">
            <div id="prev-btn">
                <span class="glyphicon glyphicon glyphicon-menu-left left__prev__btn"></span>
            </div>
            <div id="next-btn">
                <span class="glyphicon glyphicon glyphicon-menu-right right__next__btn"></span>
            </div>
        </div>
        <button class="btn btn-success is__Playing__Btn" id="autoSlider">Play</button>
        <ol id="nav-btns">
            <li class="slide-nav-btn"></li>
            <li class="slide-nav-btn"></li>
            <li class="slide-nav-btn"></li>
            <li class="slide-nav-btn"></li>
            <li class="slide-nav-btn"></li>
        </ol>
    </div>
</div>
